/********** Template CSS **********/
:root {
    --primary: rgb(193,216,47);
    --secondary: rgb(0,55,104);
    --light: rgb(98,128,167);
    --dark: #000000;
    --backgroundlight: #191C24;
    /* --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000; */
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: .5;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--backgroundlight);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: var(--secondary);
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: var(--dark)
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

.forum-info{
    flex: 80%;
    border-right:1px solid var(--primary);
    margin-right: 1em;
    padding-right: 2em;
}

.forum-control{
    flex: 20%;
}

#forumDetails{
    display:flex;
}

.forum-control button{
    width: 90%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}



/* Text*/

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.flex{
    /* display: flex; added */
    overflow: hidden;
}

.sign-in-style{
    padding-bottom: 2em;
    overflow-y:auto;
}

/* .background{
    background-image: url("../img/background.png");
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover;
}

background::after {
    background-color:rgba(0, 0, 0, 0.5); */
 
    /* opacity: 0.5; */
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */ 

  .btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #000;
    color: fieldtext !important;
}

.forumSeparation{
    color: var(--primary);
}

.text-primary, .primary-text{
    color: var(--primary) !important;
}

/* .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
} */

.btn-primary, .btn-primary:visited {
    
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover, .btn-primary:active{
    color: #fff !important;
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
/* Messaging Feature */

.card {
    background:var(--backgroundlight);
    transition: .5s;
    border: 0;
    /* margin-bottom: 30px; */
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    /* height: 300px; */
    /* display: flex;
    flex-direction: column; */
    overflow:auto;
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    /* overflow: scroll; */
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid var(--dark);
    display: block; 
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    /* flex: 1; /* take available space */
    /* overflow: scroll;  */

}

.people-list .chat-list{

}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background:var(--backgroundlight);
    cursor: pointer
}

.people-list .chat-list li.active {
    background:var(--backgroundlight);
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid var(--dark);
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid var(--dark);
    /*test*/
    /* height: 300px; */
    height: 600px;
        overflow-x: auto;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
    color:#efefef;
}

.chat .chat-history .message-data-time {
    color:var(--backgroundlight);
    padding-left: 6px
}

.chat .chat-history .message {
    color: #efefef;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--secondary);
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: var(--light);
}

.chat .chat-history .other-message:after {
    bottom: 100%;
    left: 30px;
    border: none;
    /* content: " "; */
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    /* border-bottom-color: var(--light); */
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: var(--primary);
    color: var(--backgroundlight);
    text-align: right;
}

.chat .chat-history .my-message:after {
    /* border-bottom-color: var(--primary);
    left: 93% */
    border: none;

}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}


/* ########################################### */
/*            JobBoard.html                      */
/* ########################################### */


#jobPostings{
    background-color: var(--dark);
}

#jobPostings .bg-secondary{
    background-color: var(--dark);
}

.black-background{
    background-color: var(--dark);
}

.primary-text{
    color:var(--primary);
}

.text-secondary-color{
    color: var(--light);
}

.job-board-filter{
    padding: 1em;
    font-size: 125%;
}

.job-board-filter .form-check{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#jobCategoryFilter{
    display: inline;
}

.job-board-filter button{
    display: inline;
}


.jobPostTitle{
    font-size: 120%;
}

.jobPostAuthor{
    float:right;
}

.jobPostCompany{
    text-transform: uppercase;
}

.jobPostDescription{
    font-size: 90%;
    padding: 1em;
}

.jobPostApplicants{
    font-size: 90%;
    color: var(--primary);
    text-align:center;
    /* float:right; */
}

.jobPostCategory{
    text-align: left;
    float: left;
    font-style: italic;
}

/* #jobPostings{
    display:flex;
} */

.jobPost{
    display:flex;
    /* border-bottom: solid; */
   
}

#jobPostings .jobPost{
    background:linear-gradient(var(--primary),var(--primary)) bottom /* left or right or else */ no-repeat;
    background-size:40% 1px;
}

.jobPostStructure .jobPostInfoSection{
    flex: 80%;
    border-right:1px solid var(--primary);
    margin-right: 1em;
    padding-right: 2em;
}

.jobPostStructure .jobPostControlSection{
    flex: 20%;
}

.jobPostStructure .jobPostControlSection button{
    width: 90%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.job-top-button{
    float:right;
    margin: 1em;
}

.button-secondary-color{
    background-color: var(--secondary);
    color:#efefef;
}
.userStat{
    max-height: 400px;
}

.div-centered{
    width: 90%;
}

.hide{
    visibility: hidden;
}

.form-control:disabled, .form-control:read-only {
    background-color: var(--backgroundlight) !important;
    opacity: 1;
}

input:-internal-autofill-selected{
    background-color: #000 !important;
    color: #6C7293 !important;
}